body {
    background-color: lightgrey;
    font-family: 'Ubuntu';
}

/* Chris */

/* Marcus */
li {
    padding-bottom: 10px;
}

a {
    text-decoration: none;  
}

a:hover {
    color: white;
}

img {
    border-radius: 50px;
}

img:hover {
    opacity: .5;
}

table {
    border: 1px solid darkgrey;
}

th {
    border: 1px solid darkgrey;
}

td {
    border-right: solid darkgrey;
}

#hello-world {
    background-color: darkslategrey;
    color: white;
}